<hr>
<span class="response"><%= notice %></span>
<span class="error"><%= flash[:error] %></span>

<div class="container">
  <%= form_tag sessions_path, class: "form-signin" do %>
    <h2 class="form-signin-heading">Log-in</h2>
    <p><%= label_tag :email %><br>
    <%= email_field_tag :email, params[:email], class: "form-control" %></p>
    <p><%= label_tag :password %><br>
    <%= password_field_tag :password, nil, class: "form-control" %></p>
    <%= submit_tag 'Acessar', class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
