<div class="container">
  <%= form_for(@job) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      <div class="field-errors">
        <% @job.errors[:title].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
      <div class="field-errors">
        <% @job.errors[:location].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :company_id %>
      <%= f.collection_select :company_id, @companies, :id, :name %>
      <div class="field-errors">
        <% @job.errors[:company].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name %>
      <div class="field-errors">
        <% @job.errors[:category].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
      <div class="field-errors">
        <% @job.errors[:description].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="form_group">
      <%= f.label :contract_type_id %>
      <%= f.collection_select :contract_type_id,@contract_types, :id, :name %>
      <div class="field-errors">
        <% @job.errors[:contract_type].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    </div>
    <div class="checkbox">
      <%= f.label :featured %>
      <%= f.check_box :featured %>
    </div>
    <%= f.submit type, class: "btn btn-success" %>
  <% end %>
</div>
