<h2>Nova vaga</h2>
<hr>
<div class="form">
  <%= form_for(@job) do |f| %>
    <p><%= f.label :title %><br>
    <%= f.text_field :title %></p>
    <p><%= f.label :company_id %><br>
    <%= f.collection_select :company_id, @companies, :id, :name %></p>
    <p><%= f.label :location %><br>
    <%= f.text_field :location %></p>
    <p><%= f.label :category %><br>
    <%= f.text_field :category %></p>
    <p><%= f.label :description %><br>
    <%= f.text_area :description %></p>
    <p><%= f.label :featured %>
    <%= f.check_box :featured %></p>
    <%= f.submit 'Criar Vaga' %>
  <% end %>
</div>
<%= link_to 'Voltar', root_path %>
