<h2>Novo Usuário</h2>
<hr>
<span class="response"><%= flash[:error] %></span>
<div class="form">
  <%= form_for(@user) do |f| %>
    <p><%= f.label :name %><br>
    <%= f.text_field :name %></p>
    <p><%= f.label :email %><br>
    <%= f.email_field :email %></p>
    <p><%= f.label :password %><br>
    <%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %></p>
    <%= f.submit 'Criar Usuário' %>
  <% end %>
</div>
