<div class="jobs">
  <% @jobs.each do |job| %>
    <div class="job">
      <p><b>Título:</b> <%= job.title %></p>
      <p><b>Localização:</b> <%= job.location %></p>
      <p><b>Empresa:</b> <%= job.company.name %></p>
      <%= link_to 'Ver mais', job_path(job) %>
    </div>
  <% end %>
</div>
<div class="links">
  <%= link_to 'Nova Vaga', new_job_path %>
  <%= link_to 'Nova Empresa', new_company_path %>
</div>
