<span class="response"><%= notice %></span>


<div class="row">
  <% @jobs.each do |job| %>
  <div class="col-lg-4">
    <span class="featured"><%= "Nova Vaga!!!" if job.recent? %></span>
    <p class="text-danger"><b>Título:</b> <%= job.title %><br>
    <b>Category:</b> <%= job.category.name %><br>
    <b>Localização:</b> <%= job.location %><br>
    <b>Empresa:</b> <%= job.company.name %></p>
    <%= link_to 'Ver mais', job_path(job), class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<div class="jobs">
</div>
<aside class="links-side">
  <h4>Empresas</h4>
  <% @companies.each do |company| %>
    <p><%= "Premium!!! - " if company.premium? %><%= link_to company.name, company_path(company) %></p>
  <% end %>
</aside>
<aside class="links-side">
  <h4>Categorias</h4>
  <% @categories.each do |category| %>
    <p><%= link_to category.name, category_path(category) %></p>
  <% end %>
</aside>
