<span class="response"><%= flash[:error] %></span>
<div class="form">
  <%= form_for(@company) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="form-group">
      <%= f.label :logo %>
      <%= f.file_field :logo %>
    </div>
    <%= f.submit type, class:"btn btn-success" %>
  <% end %>
</div>
