<h2><%= @company.name %></h2>
<hr>
<span class="response"><%= notice %></span>
<div class="company-details">
  <p><b>Localização: </b><%= @company.location %></p>
  <p><b>E-mail: </b><%= @company.email %></p>
  <p><b>Telefone: </b><%= @company.phone %></p>
</div>
<div class="links">
  <%= link_to 'Voltar', root_path %>
  <%= link_to 'Criar outra empresa', new_company_path %>
</div>
