<span class="response"><%= flash[:error] %></span>
<div class="form">
  <%= form_for(@category) do |f| %>
    <p><%= f.label :name %><br>
    <%= f.text_field :name %></p>
    <div class="error">
      <% @category.errors[:name].each do |error| %>
        <%= error %>
      <% end %>
    </div>
    <%= f.submit type %>
  <% end %>
</div>
<%= link_to 'Voltar', root_path %>
